.container.yoo {
  background-image: url("../images/wish_list_graphic.jpg");
  background-repeat: no-repeat;
  background-position: left;
  padding: 0px;
  margin: 0px;
  background-image: image(rotate(30deg));
  width: 100%;
}

.container {
  padding: 0px;
  margin: 0px;
}
.add{
  border: solid 2px blue;
  font-size: 20px;
  border-radius: 10px;
}


.reg{

text-align: center;

}

.login_section{

  text-align: center;

}

.error {

  text-align: center;
  color: red;
  font-size: 20px;

}

.success {
  background-color: green;
  text-align: center;
}

}
.yo {
  width: 40px;
  height: 40px;
  background-color: red;

}

.formItem{
  text-align: center;
}

.addedWish{
  color: green;
  font-size: 20px;
}
